corpora/notebooks/__pycache__/
corpora/notebooks/.ipynb_checkpoints/net_lin_ent-checkpoint.ipynb
corpora/cleaned/.~*
*checkpoint.ipynb*
corpora/notebooks/.ipynb_checkpoints/*
ssh
corpora/models/word_embeddings/*
corpora/models/random_forests/*